<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.ClassKit-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains.mdm-managed</key>
	<true/>
	<key>com.apple.developer.avfoundation.multitasking-camera-access</key>
	<true/>
	<key>com.apple.developer.background-tasks.continued-processing.gpu</key>
	<true/>
	<key>com.apple.developer.calling-app</key>
	<true/>
	<key>com.apple.developer.coremotion.head-pose</key>
	<true/>
	<key>com.apple.developer.coretelephony.sim-inserted</key>
	<true/>
	<key>com.apple.developer.declared-age-range</key>
	<true/>
	<key>com.apple.developer.default-data-protection</key>
	<string>NSFileProtectionComplete</string>
	<key>com.apple.developer.dialing-app</key>
	<true/>
	<key>com.apple.developer.driverkit.communicates-with-drivers</key>
	<true/>
	<key>com.apple.developer.energykit</key>
	<true/>
	<key>com.apple.developer.family-controls.app-and-website-usage</key>
	<true/>
	<key>com.apple.developer.fileprovider.testing-mode</key>
	<true/>
	<key>com.apple.developer.financekit.transaction-picker</key>
	<true/>
	<key>com.apple.developer.game-center</key>
	<true/>
	<key>com.apple.developer.group-session</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array>
		<string>health-records</string>
	</array>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>com.apple.developer.healthkit.recalibrate-estimates</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array/>
	<key>com.apple.developer.icloud-extended-share-access</key>
	<array/>
	<key>com.apple.developer.identity-document-services.document-provider.mobile-document-types</key>
	<array/>
	<key>com.apple.developer.journal.allow</key>
	<array>
		<string>suggestions</string>
	</array>
	<key>com.apple.developer.kernel.extended-virtual-addressing</key>
	<true/>
	<key>com.apple.developer.kernel.increased-debugging-memory-limit</key>
	<true/>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>com.apple.developer.location.push</key>
	<true/>
	<key>com.apple.developer.low-latency-streaming</key>
	<true/>
	<key>com.apple.developer.managed-app-distribution.install-ui</key>
	<array>
		<string>managed-app</string>
	</array>
	<key>com.apple.developer.matter.allow-setup-payload</key>
	<true/>
	<key>com.apple.developer.messages.critical-messaging</key>
	<true/>
	<key>com.apple.developer.messaging-app</key>
	<true/>
	<key>com.apple.developer.navigation-app</key>
	<true/>
	<key>com.apple.developer.networking.HotspotConfiguration</key>
	<true/>
	<key>com.apple.developer.networking.carrier-constrained.app-optimized</key>
	<true/>
	<key>com.apple.developer.networking.carrier-constrained.appcategory</key>
	<array/>
	<key>com.apple.developer.networking.multipath</key>
	<true/>
	<key>com.apple.developer.networking.networkextension</key>
	<array>
		<string>app-proxy-provider</string>
		<string>content-filter-provider</string>
		<string>dns-proxy</string>
		<string>dns-settings</string>
		<string>packet-tunnel-provider</string>
		<string>relay</string>
	</array>
	<key>com.apple.developer.networking.vpn.api</key>
	<array>
		<string>allow-vpn</string>
	</array>
	<key>com.apple.developer.pass-type-identifiers</key>
	<array>
		<string>$(TeamIdentifierPrefix)*</string>
	</array>
	<key>com.apple.developer.proximity-reader.identity.display</key>
	<true/>
	<key>com.apple.developer.push-to-talk</key>
	<true/>
	<key>com.apple.developer.sensitivecontentanalysis.client</key>
	<array>
		<string>analysis</string>
	</array>
	<key>com.apple.developer.shared-with-you</key>
	<true/>
	<key>com.apple.developer.shared-with-you.collaboration</key>
	<true/>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.spatial-audio.profile-access</key>
	<true/>
	<key>com.apple.developer.storekit.custom-purchase-link.allowed-regions</key>
	<array>
		<string>jp</string>
	</array>
	<key>com.apple.developer.submerged-shallow-depth-and-pressure</key>
	<true/>
	<key>com.apple.developer.sustained-execution</key>
	<true/>
	<key>com.apple.developer.system-extension.install</key>
	<true/>
	<key>com.apple.developer.translation-app</key>
	<true/>
	<key>com.apple.developer.user-fonts</key>
	<array>
		<string>app-usage</string>
		<string>system-installation</string>
	</array>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
	<key>com.apple.developer.usernotifications.time-sensitive</key>
	<true/>
	<key>com.apple.developer.weatherkit</key>
	<true/>
	<key>com.apple.developer.wifi-aware</key>
	<array/>
	<key>com.apple.developer.wireless-insights.service-predictions</key>
	<true/>
	<key>com.apple.external-accessory.wireless-configuration</key>
	<true/>
	<key>inter-app-audio</key>
	<true/>
</dict>
</plist>
